.code-input {
  display: flex;
  flex-direction: row;
  background-color: #333;
}

.code-input>textarea {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.code-input>.line-counter {
  width: 4rem;
  text-align: right;
  overflow-y: hidden;
  color: #888;
  background-color: #393939;
}