.dropdown-button {
  position: relative;
}

.button-dropdown {
  position: absolute;
  background-color: whitesmoke;
  box-shadow: 0.25rem 0.25rem 0.25rem -0rem #0003;
  min-width: 10rem;
  max-width: 20rem;
  top: 100%;
  left: 0;
}

.button-dropdown>ul {
  list-style: none;
}

.button-dropdown>ul>li>button {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.25rem;
  gap: 0.5rem;
  width: 100%;
}