nav {
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  box-shadow: 0rem -1rem 1rem 0.5rem black;
  z-index: 1;
}

nav>.nav-buttons {
  display: flex;
  flex-direction: row;
}

nav>.file-name {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav>.nav-buttons>button {
  padding: 0.5rem 1rem;
}